<!--Frontend for rooms_controller show method-->
<!--HTML to display chat room-->

<!--Header Title: CS 408 Chat Room-->
<div class="header">
  <div class="room">CS 408 Chat Room</div>
</div>

<!--Display all messages-->
<div class="message-history" id="messages">
   <%= render @messages %>
 </div>
</div>

<!--Footer: display user, text box, logout button-->
<div class="footer">
  <div class="user-menu">
    <span class="user-menu_profile-pic"></span><span class="user-menu_username"><%= current_user.email %></span>
    <span class="logout"><%= button_to('Logout', destroy_user_session_path, :method => :delete) %></span>
  </div>
  <div class="input-box">
    <input type="text" class="input-box_text" id="message_input"/>
  </div>
</div>
