// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reset, body, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

footer {
  display: block;
}

* {
  box-sizing: border-box;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 53px;
  width: 100%;
}

.message-history {
  margin-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding: 0 18px 1rem 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
}

.room{
  position: relative;
  width: auto;
  height: 53px;
  line-height: 53px;
  font-weight: 900;
  font-size: 40px;
  padding: 0 1rem;
  color: #ffffff;
  background: #00ced1;
  float: left;
  cursor: pointer;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;
}

.message {
  position: relative;
  margin-top: 0.5rem;
  padding: 0.25rem 2rem 0.1rem 3rem;
  min-height: 36px;
}

.message_profile-pic {
  position: absolute;
  left: 0;
  display: block;
  border-radius: 0.2rem;
  width: 36px;
  height: 36px;
  background-image: url(https://www.shareicon.net/data/256x256/2016/01/06/234424_farnsworth_256x256.png);
  background-size: cover;
}

.message_username {
  font-weight: 900;
  padding-right: 0.25rem;
  color: #3d3c40 !important;
  margin-left: 0;
  font-style: normal;
  text-decoration: none;
}

.message_timestamp {
  text-align: left;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
  color: #9e9ea6;
  font-size: 12px;
  line-height: 1.2rem;
  width: 36px;
  margin-right: 0;
  margin-left: 0;
}

.message_content {
  color: #2c2d30;
  display: block;
  min-height: 1rem;
}

.user-menu {
  float: left;
  width: 230px;
  height: 100%;
  cursor: pointer;
  background: #00ced1;
  padding: 7px 0 9px 8px;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.user-menu_profile-pic {
  display: inline-block;
  float: left;
  border-radius: 0.2rem;
  width: 48px;
  height: 48px;
  background-image: url(https://www.shareicon.net/data/256x256/2016/01/06/234424_farnsworth_256x256.png);
  background-size: cover;
  margin-right: 8px;
}

.user-menu_username {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
  font-weight: 900;
  line-height: 1.5rem;
  margin-top: 0.2rem;
  max-width: 120px;
}

.logout a:link {
  font-style: italic;
  color: #dc2257
}

.input-box {
  height: 100%;
  margin-left: 220px;
}

.input-box_text {
  font-size: 0.95rem;
  width: 90%;
  margin-left: 2%;
  margin-bottom: auto;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 0.2rem;
  background-clip: padding-box;
  color: #3d3c40;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  min-height: 41px !important;
  padding: 9px 5px 9px 8px;
}
